@page
@model FoodHunter.Pages.Admin.Products.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Product List</h1>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark"> Category List</h2>
        </div>
    </div>
    <div class="col-6">
        <a asp-page="Create" class="btn btn-primary">
            Create New
        </a>
    </div>
</div>
<br />
<br />
<table class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Product Type
            </th>
            <th>
                Product Price
            </th>
            <th>
                display order
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td width="40%">
                    @item.Name
                </td>
                <td width="15%">
                    @item.ProductTypeName
                </td>
                <td width="15%">
                    @item.Price$
                </td>
                <td width="15%">
                    @item.DisplayOrder
                </td>
                <td width="15%">
                    <a asp-page="Update" Asp-route-id="@item.Id" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <partial name="_DeleteModal" model="item" />
                </td>
            </tr>
        }

    </tbody>
</table>
