@page
@model FoodHunter.Pages.Admin.ProductsCategories.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Product Cateogry</h2>
        </div>
    </div>
    <div class="col-6">
        <a asp-page="Create" class="btn btn-primary">
            Create New
        </a>
    </div>
</div>
<br />
<br />
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                ProductId
            </th>
            <th>
                CateogryId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProductCategory.ProductsCategoriesModels)
        {
            <tr>
                <td width="40%">
                    @item.ProductId
                </td>
                <td width="40%">
                    @item.CategoryId
                </td>
                <td width="20%">
                    <a asp-page="Update" Asp-route-id="@item.Id" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <partial name="_DeleteModal" model="item" />
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="indexer">
    <ul class="pagination">
        @if (Model.ProductCategory.HasPreviousPage)
        {
            <li class="page-item">

                <a class="page-link" asp-page="Index" asp-route-pageIndex="@(Model.ProductCategory.CurrentPage - 1)">&laquo;</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
        }
        @for (int i = 1; i <= Model.ProductCategory.TotalPage; i++)
        {
            <li class="page-item @(i == Model.ProductCategory.PageIndex +1 ? "active" : "")">
                <a class="page-link" asp-page="Index" asp-route-pageIndex="@i">@i </a>
            </li>
        }
        @if (Model.ProductCategory.HasNextPage)
        {
            <li class="page-item">

                <a class="page-link" asp-page="Index" asp-route-pageIndex="@(Model.ProductCategory.CurrentPage==0?Model.ProductCategory.CurrentPage +2 :Model.ProductCategory.CurrentPage + 1)">&raquo;</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        }
    </ul>
</div>