@page
@model FoodHunter.Pages.Admin.Products.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Product List</h2>
        </div>
    </div>
    <div class="col-6">
        <a asp-page="Create" class="btn btn-primary">
            Create New
        </a>
    </div>
</div>
<br />
<br />
<table class="table table-bordered table-striped" style="width:100%">

    <thead>
        <tr>
            <th>
                Image
            </th>   
            <th>
                Product Name
            </th>
            <th>
                Product Type
            </th>
            <th>
                Product Price
            </th>
            <th>
                display order
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products.ProductModels)
        {
            <tr>
                <td width="10%">
                    <image src="@item.Image"  class="user-avatar me-5"></image>
                </td>
                <td width="30%">
                    @item.Name
                </td>
                <td width="15%">
                    @item.ProductTypeName
                </td>
                <td width="15%">
                    @item.Price$
                </td>
                <td width="15%">
                    @item.DisplayOrder
                </td>
                <td width="15%">
                    <a asp-page="Update" Asp-route-id="@item.Id" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <partial name="_DeleteModal" model="item" />
                </td>
            </tr>
        }

    </tbody>
</table>
<div id="indexer">
    <ul class="pagination">
        @if (Model.Products.HasPreviousPage)
        {
            <li class="page-item">

                <a class="page-link" asp-page="Index" asp-route-pageIndex="@(Model.Products.CurrentPage - 1)">&laquo;</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
        }
        @for (int i = 1; i <= Model.Products.TotalPage; i++)
        {
            <li class="page-item @(i == Model.Products.PageIndex +1 ? "active" : "")">
                <a class="page-link" asp-page="Index" asp-route-pageIndex="@i">@i </a>
            </li>
        }
        @if (Model.Products.HasNextPage)
        {
            <li class="page-item">

                <a class="page-link" asp-page="Index" asp-route-pageIndex="@(Model.Products.CurrentPage==0?Model.Products.CurrentPage +2 :Model.Products.CurrentPage + 1)">&raquo;</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        }
    </ul>
</div>